@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
}

html {
  font-size: 62.5%;
}

.padding-box {
  padding: 7rem 23rem;
}

.margin-min {
  margin-bottom: 1.5rem;
}

.margin-small {
  margin-bottom: 3rem;
}

.margin-medium {
  margin-bottom: 8rem;
}

.active {
  display: block !important;
}

.disable {
  display: none !important;
}

.arrow {
  cursor: pointer;
}

.disableSlider {
  opacity: 0.5;
  cursor: context-menu;
}

.disableDot {
  opacity: 0.5;
  transform: scale(0.685);
}

.errorLabel {
  color: #E73137 !important;
}

.errorInput {
  border: 1px solid #E73137 !important;
}

.delivery {
  display: flex;
}
@media (max-width: 56.25em) {
  .delivery {
    flex-direction: column;
    height: auto;
  }
}
.delivery__backgroundImg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  background-image: url("../../assets/hero1.png");
}
@media (max-width: 56.25em) {
  .delivery__backgroundImg {
    width: 100%;
    height: 40rem;
  }
}
@media (max-width: 30em) {
  .delivery__backgroundImg {
    height: 30rem;
    background-image: url("../../assets/hero1.png");
  }
}
.delivery__description {
  width: 50%;
  padding: 10rem 0 10rem 4rem;
}
@media (max-width: 56.25em) {
  .delivery__description {
    width: 100%;
  }
}
.delivery-heading {
  font-size: 5.6rem;
  font-weight: 400;
  line-break: loose;
}
@media (max-width: 56.25em) {
  .delivery-heading {
    font-size: 5rem;
  }
}
@media (max-width: 30em) {
  .delivery-heading {
    font-size: 3.6rem;
  }
}
.delivery-text {
  color: #575756;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 4rem;
}
@media (max-width: 56.25em) {
  .delivery-text {
    font-size: 2rem;
    line-height: 3.6rem;
  }
}
@media (max-width: 30em) {
  .delivery-text {
    font-size: 1.8rem;
  }
}
.delivery-btn {
  width: 20.1rem;
}
@media (max-width: 30em) {
  .delivery-btn {
    width: 100%;
  }
}

.job {
  display: flex;
}
@media (max-width: 56.25em) {
  .job {
    flex-direction: column;
    height: auto;
  }
}
.job__description {
  width: 50%;
  padding: 20rem 4rem 20rem 23rem;
  background-color: #59A6C0;
}
@media (max-width: 56.25em) {
  .job__description {
    width: 100%;
    padding: 4rem 2rem;
  }
}
.job-text {
  color: #FFFFFF;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8rem;
  margin-bottom: 1.4rem;
}
@media (max-width: 30em) {
  .job-text {
    font-size: 1.6rem;
  }
}
.job-btn {
  width: 26.3rem;
}
@media (max-width: 30em) {
  .job-btn {
    width: 100%;
  }
}
.job__cover {
  width: 50%;
  background-color: #F1F0F0;
}
@media (max-width: 56.25em) {
  .job__cover {
    width: 100%;
  }
}
.job__image {
  width: 100%;
}
.job__grid {
  display: grid;
  row-gap: 4rem;
  grid-template-columns: repeat(2, auto);
  width: 100%;
  padding: 7rem 0 7rem 4rem;
}
@media (max-width: 56.25em) {
  .job__grid {
    row-gap: 3.1rem;
    padding: 4rem 2rem;
  }
}
@media (max-width: 30em) {
  .job__grid {
    display: block;
  }
}
.job__item {
  display: flex;
}
@media (max-width: 30em) {
  .job__item:not(:first-child) {
    margin-top: 2rem;
  }
}
.job__item-text {
  margin-left: 1rem;
  font-size: 2.6rem;
}
@media (max-width: 30em) {
  .job__item-text {
    font-size: 2rem;
  }
}
.job__item-text--heading {
  color: #E73137;
  margin-bottom: 1rem;
  font-weight: 700;
}
.job__item-text--desc {
  color: #575756;
  font-weight: 500;
}

.stats {
  width: 100%;
  background-color: rgba(62, 163, 151, 0.3);
  text-align: center;
}
@media (max-width: 75em) {
  .stats {
    padding: 4rem 2rem;
  }
}
.stats__box {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin: 8rem auto;
}
@media (max-width: 37.5em) {
  .stats__box {
    display: block;
    margin: 3rem auto;
  }
}
.stats__content-subheading {
  font-size: 2rem;
}
@media (max-width: 56.25em) {
  .stats__content-subheading {
    font-size: 1.8rem;
  }
}
@media (max-width: 37.5em) {
  .stats__content-subheading {
    margin-top: 3rem;
  }
}
.stats__content-number {
  font-size: 10rem;
}
@media (max-width: 56.25em) {
  .stats__content-number {
    font-size: 7rem;
  }
}
@media (max-width: 30em) {
  .stats__content-number {
    font-size: 6rem;
  }
}
.stats__content-number--percentage {
  font-size: 6rem;
}
@media (max-width: 56.25em) {
  .stats__content-number--percentage {
    font-size: 4rem;
  }
}
.stats__content-desc {
  font-size: 2rem;
}
.stats__content-desc--breakline::after {
  content: "\a";
  white-space: pre;
}
@media (max-width: 37.5em) {
  .stats__content-desc--breakline::after {
    white-space: normal;
  }
}
@media (max-width: 56.25em) {
  .stats__content-desc {
    font-size: 1.8rem;
  }
}
.stats__text {
  width: 44rem;
  font-size: 1.8rem;
  margin: 3rem auto;
}
@media (max-width: 56.25em) {
  .stats__text {
    width: 100%;
    font-size: 1.8rem;
  }
}
.stats-btn {
  width: 20.1rem;
}
@media (max-width: 30em) {
  .stats-btn {
    width: 100%;
  }
}

.comments {
  width: 100%;
  background-color: #E66559;
  display: flex;
  align-items: center;
}
@media (max-width: 86.5625em) {
  .comments {
    flex-direction: column;
  }
}
@media (max-width: 75em) {
  .comments {
    width: 100%;
    padding: 7rem 4rem;
  }
}
@media (max-width: 48em) {
  .comments {
    width: 100%;
    padding: 4rem 2rem;
  }
}

.views {
  width: 60rem;
  padding-right: 4rem;
}
@media (max-width: 86.5625em) {
  .views {
    width: 100%;
    margin-bottom: 4rem;
  }
}
@media (max-width: 64.375em) {
  .views {
    width: 100%;
    margin-bottom: 4rem;
  }
}
@media (max-width: 30em) {
  .views {
    padding: 0;
  }
}
.views__text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8rem;
  color: #FFFFFF;
}
@media (max-width: 30em) {
  .views__text {
    font-size: 1.6rem;
  }
}
.views-btn {
  width: 28rem;
}

.quotes {
  width: 60rem;
  padding: 3rem;
  background-color: #FFFFFF;
  box-shadow: 0px 0.5rem 2.5rem rgba(0, 0, 0, 0.35);
}
@media (max-width: 86.5625em) {
  .quotes {
    width: 100%;
  }
}
@media (max-width: 48em) {
  .quotes {
    padding: 4rem 5rem;
  }
}
@media (max-width: 30em) {
  .quotes {
    padding: 3rem;
  }
}
.quotes__box {
  width: 54rem;
}
@media (max-width: 86.5625em) {
  .quotes__box {
    width: 100%;
  }
}
.quotes__mark-second {
  text-align: right;
  margin-bottom: 2rem;
}
@media (max-width: 30em) {
  .quotes__mark-sign {
    width: 3rem;
    height: 4rem;
  }
}
.quotes__text {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 4.2rem;
  color: #575756;
}
@media (max-width: 48em) {
  .quotes__text {
    font-size: 2.6rem;
  }
}
@media (max-width: 30em) {
  .quotes__text {
    font-size: 2rem;
    line-height: 3rem;
  }
}
.quotes__author {
  display: flex;
  align-items: center;
}
.quotes__author-image {
  border-radius: 10rem;
  margin-right: 2rem;
}
.quotes__author-name {
  white-space: pre-line;
  font-size: 1.6rem;
}
.quotes__author-name--bold {
  font-weight: 500;
}
.quotes__slider {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.quotes__slider-sign:not(:last-child) {
  margin-right: 1.3rem;
}
@media (max-width: 56.25em) {
  .quotes__slider {
    width: 100%;
    justify-content: left;
  }
}
@media (max-width: 30em) {
  .quotes__slider {
    justify-content: center;
  }
}

.sources {
  width: 100%;
  text-align: center;
}
@media (max-width: 56.25em) {
  .sources {
    padding: 4rem 2rem;
  }
}

.core {
  width: 70rem;
  margin: 3rem auto;
}
@media (max-width: 56.25em) {
  .core {
    width: 100%;
    margin: 3rem 0 0 0;
  }
}
.core__toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-top: 2px solid #CFCDCC;
  border-bottom: 2px solid #CFCDCC;
  cursor: pointer;
}
.core__toggle:not(:first-child) {
  border-top: none;
}
.core__toggle-name {
  font-size: 2rem;
  font-weight: 500;
}
@media (max-width: 30em) {
  .core__toggle-name {
    font-size: 1.8rem;
  }
}
.core__content {
  display: none;
  padding: 2rem;
  background-color: #F1F0F0;
  border-bottom: 2px solid #CFCDCC;
}
.core__text {
  font-size: 1.6rem;
  color: #575756;
  text-align: left;
  line-height: 2.563rem;
}
.core__text:first-child {
  margin-bottom: 1rem;
}

.contact {
  text-align: center;
  background-color: #F1F0F0;
}
@media (max-width: 75em) {
  .contact {
    padding: 4rem 2rem;
  }
}
.contact__form {
  display: grid;
  grid-template-columns: repeat(1fr, 50%);
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  row-gap: 2rem;
  margin-top: 3rem;
}
@media (max-width: 37.5em) {
  .contact__form {
    display: block;
  }
}
.contact__field {
  text-align: left;
}
@media (max-width: 37.5em) {
  .contact__field {
    margin-top: 2rem;
  }
}
.contact__field-label {
  display: block;
  text-align: left;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.contact__field-message {
  grid-column: 1/span 2;
}
@media (max-width: 37.5em) {
  .contact__field-message {
    margin-top: 2rem;
  }
}
.contact__submit {
  display: flex;
  justify-content: space-between;
  grid-column: 1/span 2;
}
@media (max-width: 37.5em) {
  .contact__submit {
    margin-top: 2rem;
  }
}
@media (max-width: 30em) {
  .contact__submit {
    flex-direction: column;
    align-items: flex-start;
  }
}
.contact__submit-required {
  font-size: 1.6rem;
  color: #575756;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 23em;
  background-color: #FFFFFF;
  border-bottom: 1px solid #CFCDCC;
}
@media (max-width: 90.625em) {
  .header {
    padding: 0 2rem;
  }
  .header .header__navbar {
    display: none;
  }
  .header .menuIcon {
    display: block;
  }
}
@media (max-width: 56.25em) {
  .header {
    padding: 2rem 2rem;
  }
}
@media (max-width: 30em) {
  .header {
    padding: 1.6rem 2rem;
    height: auto;
  }
}
.header__logo {
  width: 25rem;
}
@media (max-width: 56.25em) {
  .header__logo {
    width: 20rem;
  }
}
@media (max-width: 30em) {
  .header__logo {
    width: 16rem;
  }
}
.header__navbar {
  list-style: none;
}
@media (max-width: 56.25em) {
  .header__navbar {
    display: none;
  }
}
.header__link {
  color: #575756;
  text-decoration: none;
}
.header__navitem {
  display: inline-block;
  position: relative;
  color: #575756;
  margin-right: 2em;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}
.header__navitem:last-child {
  margin-right: 0;
}
.header__navitem:hover-arrow {
  transform: rotate(90deg);
}

.btn {
  border: none;
  border-radius: 1rem;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  font-weight: 700;
  align-items: center;
  cursor: pointer;
}

.btnRed {
  color: #FFFFFF;
  background-color: #E73137;
}
.btnRed:hover {
  background-color: #c6292e;
}

.btnWhite {
  color: #E73137;
  background-color: #FFFFFF;
}
.btnWhite:hover {
  color: #FFFFFF;
  background-color: #E73137;
  border: none;
}
.btnWhite:hover .btnWhite-icon {
  fill: #FFFFFF;
}

.btnArrow {
  transform: translateY(0.35rem);
}

.blueLine {
  border-radius: 3rem;
  width: 11rem;
  height: 1rem;
  background-color: #59A6C0;
  display: inline-block;
}

.whiteLine {
  border-radius: 3rem;
  width: 11rem;
  height: 1rem;
  background-color: #FFFFFF;
}

.greyLine {
  border-radius: 3rem;
  width: 11rem;
  height: 1rem;
  background-color: #575756;
  display: inline-block;
}

.lightGreyLine {
  border-radius: 3rem;
  width: 11rem;
  height: 1rem;
  background-color: #CFCDCC;
}

.redVerticalLine {
  border-radius: 3rem;
  width: 1rem;
  height: 6rem;
  background-color: #E66559;
}

.blueVerticalLine {
  border-radius: 3rem;
  width: 1rem;
  height: 6rem;
  background-color: #59A6C0;
}

.greyVerticalLine {
  border-radius: 3rem;
  width: 1rem;
  height: 6rem;
  background-color: #CFCDCC;
}

.blackVerticalLine {
  border-radius: 3rem;
  width: 1rem;
  height: 6rem;
  background-color: #000000;
}

.greenVerticalLine {
  border-radius: 3rem;
  width: 1rem;
  height: 6rem;
  background-color: #3EA397;
}

.footer__linkBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem 23rem;
}
@media (max-width: 75em) {
  .footer__linkBox {
    padding: 1.5rem 2rem;
  }
}
@media (max-width: 56.25em) {
  .footer__linkBox {
    flex-direction: column;
  }
  .footer__linkBox > *:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 30em) {
  .footer__linkBox {
    padding: 2rem;
  }
}
.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.footer__item:not(:last-child) {
  margin-right: 2rem;
}
.footer__link {
  text-decoration: none;
  color: #575756;
  font-size: 1.6rem;
}
.footer__copyright {
  padding: 1.5rem 23rem;
  font-size: 1.5rem;
  text-align: center;
  line-break: normal;
  color: #FFFFFF;
  background-color: #E66559;
}
@media (max-width: 75em) {
  .footer__copyright {
    padding: 1.5rem 2rem;
  }
}
@media (max-width: 56.25em) {
  .footer__copyright {
    font-size: 1.2rem;
  }
}
@media (max-width: 34.375em) {
  .footer__copyright-breakline::after {
    content: "\a";
    white-space: pre;
  }
}

.dropdown__divisions {
  display: none;
  position: absolute;
  top: 3rem;
  -webkit-clip-path: polygon(47% 2%, 50% 0, 53% 2%, 100% 2%, 100% 100%, 0 100%, 0 2%);
          clip-path: polygon(47% 2%, 50% 0, 53% 2%, 100% 2%, 100% 100%, 0 100%, 0 2%);
  padding: 0 1.2rem 1rem 1.2rem;
  background-color: #F1F0F0;
  box-shadow: 0px 0.5rem 0.6rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  z-index: 9;
  left: -3.7rem;
}
.dropdown__divisions-list {
  text-align: center;
  list-style: none;
}
.dropdown__divisions-link {
  text-decoration: none;
  color: #575756;
}
.dropdown__divisions-listItem {
  white-space: nowrap;
  margin-top: 1rem;
  font-size: 1.4rem;
}
.dropdown__investors {
  display: none;
  position: absolute;
  top: 3rem;
  -webkit-clip-path: polygon(47% 2%, 50% 0, 53% 2%, 100% 2%, 100% 100%, 0 100%, 0 2%);
          clip-path: polygon(47% 2%, 50% 0, 53% 2%, 100% 2%, 100% 100%, 0 100%, 0 2%);
  padding: 0 1.2rem 1rem 1.2rem;
  background-color: #F1F0F0;
  box-shadow: 0px 0.5rem 0.6rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  z-index: 9;
  left: -5rem;
}
.dropdown__investors-list {
  text-align: center;
  list-style: none;
}
.dropdown__investors-link {
  text-decoration: none;
  color: #575756;
}
.dropdown__investors-listItem {
  white-space: nowrap;
  margin-top: 1rem;
  font-size: 1.4rem;
}

.navigation {
  display: none;
}
@media (max-width: 90.625em) {
  .navigation {
    display: block;
  }
}
.navigation__checkbox-open {
  position: absolute;
  visibility: hidden;
}
.navigation__checkbox-close {
  position: absolute;
  visibility: hidden;
}
.navigation__checkbox-open:checked ~ .navigation__nav {
  display: block;
}
.navigation__checkbox-close:checked ~ .navigation__nav {
  display: none;
}
.navigation__button {
  display: flex;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}
.navigation__nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 1000;
}
.navigation__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2rem;
  border-bottom: 1px solid #CFCDCC;
}
@media (max-width: 56.25em) {
  .navigation__header {
    padding: 2rem 2rem;
  }
}
@media (max-width: 30em) {
  .navigation__header {
    padding: 1.6rem 2rem;
  }
}
.navigation__logo {
  width: 25rem;
}
@media (max-width: 56.25em) {
  .navigation__logo {
    width: 20rem;
  }
}
@media (max-width: 30em) {
  .navigation__logo {
    width: 16rem;
  }
}
.navigation__list {
  width: 100%;
  padding: 0 2rem;
  list-style: none;
}
.navigation__item {
  padding: 1.9rem 0;
  border-bottom: 2px solid #CFCDCC;
}
.navigation__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #575756;
  font-size: 1.8rem;
  font-weight: 700;
  position: relative;
}
.navigation__subList {
  display: none;
  list-style: none;
}
.navigation__subItem {
  padding: 1rem 2rem;
}
.navigation__subItem:first-child {
  margin-top: 1rem;
}
.navigation__subLink {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  color: #575756;
}

.inputField {
  width: 100%;
  border-radius: 1rem;
  border: 1px solid #575756;
  padding: 1.5rem 2rem;
}
.inputField::-webkit-input-placeholder {
  font-size: 1.6rem;
  color: #575756;
}
.inputField::-moz-placeholder {
  font-size: 1.6rem;
  color: #575756;
}
.inputField:-ms-input-placeholder {
  font-size: 1.6rem;
  color: #575756;
}
.inputField:-moz-placeholder {
  font-size: 1.6rem;
  color: #575756;
}
@media (max-width: 56.25em) {
  .inputField {
    padding: 1.5rem 1rem;
  }
}

.heading-medium-black {
  font-size: 4.6rem;
  font-weight: 400;
  color: #000000;
}
@media (max-width: 56.25em) {
  .heading-medium-black {
    font-size: 4rem;
  }
}
@media (max-width: 30em) {
  .heading-medium-black {
    font-size: 3rem;
  }
}

.heading-medium-white {
  font-size: 4.6rem;
  font-weight: 400;
  color: #FFFFFF;
}
@media (max-width: 56.25em) {
  .heading-medium-white {
    font-size: 4rem;
  }
}
@media (max-width: 30em) {
  .heading-medium-white {
    font-size: 3rem;
  }
}/*# sourceMappingURL=main.css.map */