.delivery{
    display: flex;

    @include respond(bp-900){
        flex-direction: column;
        height: auto;
    }

    &__image{
        width: 50%
    }

    &__description{
        width: 50%;
        padding: 10rem 0 10rem 4rem;

        @include respond(bp-900){
            width: 100%;
        }
    }

    &-heading{
        font-size: 5.6rem;
        font-weight: 400;
        line-break: loose;

        @include respond(bp-900){
            font-size: 5rem;
        }

        @include respond(bp-480){
            font-size: 3.6rem;
        }
    }

    &-text{
        color: $color-dark-grey;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 4rem;

        @include respond(bp-900){
            font-size: 2rem;
            line-height: 3.6rem;
        }
        
        @include respond(bp-480){
            font-size: 1.8rem;
        }
    }

    &-btn{
        width: 20.1rem;
        @include respond(bp-480){
            width: 100%;
        }
    }
}