.sources{
    width: 100%;
    text-align: center;

    @include respond(bp-900){
        padding: 4rem 2rem;
    }
}

.core{
    width: 70rem;
    margin: 3rem auto;
    @include respond(bp-900){
        width: 100%;
        margin: 3rem 0 0 0;
    }

    &__toggle{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        border-top: 2px solid $color-grey;
        border-bottom: 2px solid $color-grey;
        cursor: pointer;

        &:not(:first-child){
            border-top: none;
        }

        &-name{
            font-size: 2rem;
            font-weight: 500;

            @include respond(bp-480){
                font-size: 1.8rem;
            }
        }
    }

    &__content{
        display: none;
        padding: 2rem;
        background-color: $color-light-grey;
        border-bottom: 2px solid $color-grey;
    }

    &__text{
        font-size: 1.6rem;
        color: $color-dark-grey;
        text-align: left;
        line-height: 2.563rem;

        &:first-child{
            margin-bottom: 1rem;
        }
    }
}