$color-white: #FFFFFF;
$color-black: #000000;
$color-dark-grey: #575756;
$color-grey: #CFCDCC;
$color-light-grey: #F1F0F0;
$color-blue: #59A6C0;
$color-teal: #3EA397;
$color-arrow-back: #A5D3CE;
$color-light-green: #C6E4E0;
$color-brick: #E66559;
$color-red: #E73137;
$color-dark-red: #c6292e;
$color-slider-light-red: #F3989B;